modules/weko-schema-ui/tests/data/collection5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://example.com/ns/collection"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://example.com/ns/collection">

<xs:group name="testgroup">
  <xs:sequence>
    <xs:element name="testb" type="xs:string"/>
  </xs:sequence>
</xs:group>

<xs:element name="testa" type="testtype"/>

<xs:complexType name="testtype">
  <xs:group ref="testgroup"/>
  <xs:attribute name="status" type="xs:string"/>
</xs:complexType>

</xs:schema>